.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.my-chart{
  padding-top: 20px;
  position: relative;
  .yName{
    position: absolute;
    top: 0;
    left: 40px;
    color: #000;
  }
  .xName{
    position: absolute;
    bottom: 10px;
    right: 0;
    color: #000;
  }
}
